@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    /*colors*/
    --color-primary:#ee5057;
    --color-secondary:#111;
    --color-text:#898989;
    --color-light:#f4f4f4;
    /*fonts*/
    --font-primary:'Open Sans', Helvetica ,Arial;
    --font-bold:700;
    --font-light:400;
    --font-size-text:13px;
    --font-size-titel:20px;
    --font-size-section-titel:48px;

    /*size*/
    --size-primary:25px;
    --size-double:calc(var( --size-primary)*2);
    --size-half:calc(var( --size-primary)/2);
     
    --margin-primary:var( --size-primary);
    --padding-primary:var( --size-primary);
    --padding-double:calc(var( --size-primary)*2);
    --padding-half:calc(var( --size-primary)/2);
    --height-primary:120px;
    /*Breakpoints*/
    --md : 768px;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 0px;
}
a{
    color: inherit;
    text-decoration: none;
}

.navbar .level-nav-link.nav-link {
    padding-left: calc(var(--padding-primary));
}
@media(min-width: 768px ){
    .navbar{
        height:calc(var(--height-primary)/1.2) ;
    }
    .navbar .level-nav-link.nav-link {
        padding: var(--padding-primary);
        padding-top: var(--padding-double) ;
        padding-bottom: var(--padding-double) ;
    }
}
.navbar .level-nav-link.nav-link.active,
.navbar .level-nav-link.nav-link:hover {
    background-color: var(--color-primary);
    color: white;
}
.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand h1{ margin: 0;}
.hero{
    background: url(/assets/img/bg-img-1.jpg) no-repeat center center /cover;
    height: 515px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-form{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--size-half);
    padding: var(--padding-primary) var(--padding-double);
}
.form-group{
    flex: 1 25%;
    position: relative;
    display: flex;
    align-items: center;
}
.form-group .form-control{
    border-radius: 0;
    padding: var(--padding-half);
    padding-left: var(--padding-double);

}
.form-group i{
    color: var(--color-primary);
    font-size: var(--font-size-titel);
    position: absolute;
    left: var(--size-half);
}
.btn-primary{
    background-color: var(--color-primary);
    border: 2px solid transparent;
    border-radius: 0px;
    width: 100%;
    padding: var(--padding-half);
    text-transform: uppercase;
    font-weight: var(--font-bold);
}
.btn-primary:hover{
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    background-color: white;
}
.need-help{
    background-color: #fff;
    font-size: .8rem;
    padding: var(--padding-half)  var(--padding-double);
    text-align: center;
}
section{
    padding: var(--padding-double) 0;
    position: relative;
}
.section-color{
    background-color: var(--color-primary);
    color: white;
}
.section-titel{font-size: var(--font-size-section-titel);}
.section-subtitel{font-size: var(--font-size-titel);}
.btn-white{
    border: 2px solid white;
    border-radius: 0;
    color: white;
    padding: var(--padding-half) var(--padding-primary);
}
.btn-white:hover{
    border: 2px solid white;
    color: var(--color-primary);
    background-color: white;
}
/*SERVICES*/
.section-down-arrow{
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--height-primary);
}
.articel{
    text-align: center;
    margin-top: var(--size-double);
    padding: var(--padding-primary);
    transition: all .3s ease-in;
    color: var(--color-primary);
}
.articel p{
    color: var(--color-text);
}
.articel:hover{
    scale: 1.1;
    box-shadow: 0 0 7px 0 var(--color-text);
} 
.articel .articel-icon{
    font-size: 3rem;
    margin-bottom: var(--size-primary);
}
.btn-fit{
    width: max-content;
}

/*slider*/

.section-gray{
    background-color: var(--color-light);
}
.level-slider{
    background-color: white;
}
.level-slider-item{
    margin-right: var(--size-half);
    background-color: white;
}
.level-slider img{
    width: 100%;
}
.level-slider-item-container{
    padding: var(--padding-primary);
}
.level-slider-item h3{
    font-size: var(--font-size-titel);
    color: var(--color-primary);
}
.level-slider-item p{
    font-size: var(--font-size-text);
    color: var(--color-text);
}
/*star places*/
.star-places{
    background-color: white;

}
.star-places-header{
    background-color: var(--color-primary);
    color: white;
    padding: var(--padding-half);
}
.star-places-header h3{
    font-size: var(--font-size-titel);
    font-weight: var(--font-light);
}
.star-places-header p{
    font-size: var(--font-size-text);
    margin: 0;
}
.star-places-body{
    padding: var(--padding-primary);
}
.star-places-body a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--size-primary);
    background-color: var(--color-light);
    margin-bottom: var(--size-half);
    transition:all 0.2s ease-in;
}
.star-places-body a:hover{
    background-color: #c1c1c1;
}
.star-places-body h4{
    font-size: var(--font-size-titel);
    text-transform: uppercase;
}
/*video*/

.video-overlay{
    position: absolute;
    background-color: rgb(0 0 0 / 50%) ;
    width: 100%;
    height: 515px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-control-play,.video-control-pause{
    color: white;
    font-size: var(--font-size-section-titel);
    cursor: pointer;
}
.video-control-pause{
    display: none;
}
.video-container{
    overflow: hidden;
    width: 100%;
    height: 515px;
    position: relative;
}
.video-container video{
    width: 100%;
}
/*CONTACT*/
.contact-form{
    margin: 0 auto;
}
.contact-form .form-control{
    background-color: var(--color-light);
    border: none;
    font-size: .9rem;
    margin-bottom: var(--size-half);
}
.contact-form .form-group i{
    top: var(--size-half);
}
.map-container{
    width: 100%;
    height: 100%;
    padding-bottom: var(--size-half);
}
/*footer*/
footer{
    background-color: var(--color-secondary);
}
footer p{
    padding: var(--size-primary) 0;
    color: white ;
    text-align: center;
    margin-bottom: 0;
}